<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <!-- Main CSS-->
    <link href="/static/css/create_Post.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="header">
        <img src="/static/images/slider_1.jpg" alt="">
    </div>
    <div class="container col-lg-8 mb-4">
        <div class="row mt-3">
            <div class="col-12">
                <div class="Picture">
                    <img src="/static/images/circle-cropped.png" alt="Ảnh đại diện">
                </div>
            </div>
            <div class="col-12 mt-2 welcome">
                <h4>Welcome Claura !</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 title">
                <h3>Create Post</h3>
            </div>
        </div>
        <div class="main_form mt-2 p-3">
            <form id="main_form" enctype="multipart/form-data" method="POST" action="http://localhost:3000/blog">
                <div class="form-group">
                    <label style="font-size: 17px; font-weight: bold;">Image</label>
                    <input type="file" name="blogImage" class="">
                </div>
                <div class="form-group">
                  <label style="font-size: 17px; font-weight: bold;">Title:</label>
                  <input style="outline: none;" type="text" name="title" id="title" class="form-control"  placeholder="Write here...." required> 
                </div>
                <div class="form-group">
                    <label style="font-size: 17px; font-weight: bold;">Content:</label> <br>
                    <textarea name="content" id="blogContent" rows="10" placeholder="Write here...." required></textarea>
                  </div>
                <div class="button_Create">
                    <button type="submit">Post</button>
                </div>
                
              </form>
        </div>
    </div>

    <!-- Main JS-->
    <script></script>
    <!--Create_Blog script-->
    <script src="/static/js/create_blog.js"></script>

</body>

</html>
<!-- end document-->