<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <!-- Main CSS-->
    <link href="/static/css/create_Post.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="header">
        <img src="/static/images/slider_1.jpg" alt="">
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <div class="Picture">
                    <img src="/static/images/circle-cropped.png" alt="Ảnh đại diện">
                </div>
            </div>
            <div class="col-12 mt-2 welcome">
                <h4>Welcome Claura !</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 title">
                <h3>Create Post</h3>
            </div>
        </div>
        <div class="row main_form mt-2">
            <form id="main_form">
                <div class="form-group">
                    <button type="submit" class="">Choose Image</button>
                </div>
                <div class="form-group">
                  <label style="font-size: 17px; font-weight: bold;">Tittle:</label>
                  <input style="outline: none;" type="text" class="form-control"   placeholder="Write here...."> 
                </div>
                <div class="form-group">
                    <label style="font-size: 17px; font-weight: bold;">Content:</label> <br>
                    <textarea name="" id="" cols="100" rows="6" placeholder="Write here...."></textarea>
                  </div>
                <div class="button_Create">
                    <button type="submit">Post</button>
                </div>
                
              </form>
        </div>
    </div>

    <!-- Main JS-->
    <script></script>

</body>

</html>
<!-- end document-->